<header>

    <div class="logo-container">
        <img src="assets/logo-red.png" alt="">
    </div>

    <nav>
        <a routerLink="" >Home</a>
        <a routerLink="cursos">Cursos</a>
        <a href="">Services</a>
        <a href="">About</a>
        <a href="">Page +</a>
        <a href="">News</a>
        <a href="">Contact</a>
    </nav>

    <div class="contact-container">
        <span>+251 142 141</span>
        <p>Phone Number</p>
    </div>

    <button>Let's Talk</button>
</header>