<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">

        <div class="black-wrapper"></div>

        <div class="slide-content">
            <span>Love Learning Everyday</span>
            <h1>Education Is The Way To A Successfull Life</h1>

            <div class="buttons">
                <button>Why Education</button>
                <button>Start Learning</button>
            </div>
        </div>

        <div class="img-1"></div>
      </div>
      <div class="carousel-item">
          
        <div class="black-wrapper"></div>

        <div class="slide-content">
            <span>Love Learning Everyday</span>
            <h1>Education Is The Way To A Successfull Life</h1>

            <div class="buttons">
                <button>Why Education</button>
                <button>Start Learning</button>
            </div>
        </div>

        <div class="img-2"></div>
      </div>
    </div>

    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
</div>

<div class="about-us">
    <div class="image-container">
        <img class="noabsolute" src="assets/img3.jpg" alt="">
        <img class="absolute" src="assets/img4.jpg" alt="">
    </div>

    <div class="description-container">
        <span>About Us</span>
        <h2>Clever Teachers Make Clever Students</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiu smod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tressure.</p>
        
        <div class="mini-cards">
            <div class="mini-card">
                <img src="assets/tax.png" alt="">
                <span>Super Edu!</span>
            </div>
    
            <div class="mini-card">
                <img src="assets/profit.png" alt="">
                <span>Degrees</span>
            </div>
            
            <div class="mini-card">
                <img src="assets/flag-re.png" alt="">
                <span>Awards!</span>
            </div>
        </div>
    </div>
</div>

